html, body{
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  max-width: 1860px
}
*{
  box-sizing: border-box;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
a{
  text-decoration: none !important;
  transition-duration: 200ms;
}
a:hover{
  color: #f7c82c !important;
}
.header-container
{
    width: 100%;
    height:47px;
}

@font-face
{
    font-family: "fuck";
    src: url("./img/thefuck.ttf");
}

body
{
    background-color: #232323;
    color: white;
}

a
{
    font-size: unset;
    color: unset;
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
    color: white;
}

.carralax-container
{
    width: 100%;
    height: 644px;
    background: url("./img/lel.png") center center no-repeat;
    /*background-size: 120% 120%;*/
}

.carralax
{
    height: 100%;
    /*width: 100%;*/
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-left: 4%;
    position: relative;
}
.header__contacts{
  position: absolute;
  top: 20px;
  right: 6%;

  width: 85px;
  height: 85px;
}
.header__contacts_tel{
  display: block;
  width: 85px;
  height: 85px;
  /*background: url(img/icons/phone-flat.png) center no-repeat;
  background-size: contain;*/
}
.st1{
  transition-duration: 200ms;
}
.phone__icon_svg:hover .st1{

    fill: #00cd40;


}
.carralax > .headings
{
    margin-top: 120px;
    display: flex;
    width: 533px;
    flex-wrap: nowrap;
    flex-direction: column;
}

.carralax> .headings > div
{
    font-family: helvetica;
    font-size: 60px;
}

.carralax> .headings> .h1
{
    font-weight: 900;
}

.carralax> .headings> .h2
{
    margin-top: 60px;
    font-weight: 200;
}

.iphone-mock
{
    background-image: url("./img/ipm.png");
    width: 477px;
    height: 561px;
    margin-top: 83px;
    display: flex;
    justify-content: space-around;
    margin-right: 170px;
}

.iphone-mock > .form
{
    margin-top: 170px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.upper_form_submit{
  transition-duration: 200ms;
}
.upper_form_submit:hover{
  color: #f7c82c !important;
}
.iphone-mock > .form > .upper-form_input
{
    border: 6px solid #f6c828;
    height: 61px;
    width: 353px;
    padding-left: 10px;
    background: #232323;
    outline: none;
        font-size: 32px;
    font-family: Helvetica;
    color: white;
}
.upper-form_input{
  transition-duration: 200ms;
}
.upper-form_input:hover, :focus{
  transform: scale(1.05);
}
.iphone-mock > .form > .button
{
    height: 64px;
    width: auto;
    border: 3px solid #f6c828;
    background: #232323;
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 32px;
    font-weight: 100;
    color: white;
    cursor: pointer;
    border-radius: 25px;
}

.iphone-mock > .form > .label
{
    margin-top: 11px;
    margin-bottom: 10px;
    font-size: 32px;
    font-family: Helvetica;
    width: 100%;
}

.productionneuh
{
    width: 100%;

    /*height: 647px;*/
    /*background-image: url("./img/ap1.png");
    background-size: cover;*/
    padding-top: 50px;
    padding-bottom: 50px;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    margin-bottom: 20px;
}
.productionneuh::before{
  content: '';
  display: block;
  position: absolute;
  width: 216px;
  height: 216px;
  top: 0;
  left: 50px;
  border-left: 16px solid #ffd528;
  border-top: 16px solid #ffd528;
}
.productionneuh::after{
  content: '';
  display: block;
  position: absolute;
  width: 216px;
  height: 216px;
  bottom: 0;
  right: 50px;
  border-right: 16px solid #ffd528;
  border-bottom: 16px solid #ffd528;
}
.productionneuh > .product
{
    /*height: 500px;*/
    display: flex;
    max-width: 325px;
    /*width: 20%;*/
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.productionneuh .product img{
  margin-bottom: 54px;
}

.productionneuh > .product > .title
{
    font-family: Helvetica;
    font-size: 48px;
    text-align: center;
}

.price-list
{
    flex-direction: column;
    align-items: center;
    display: flex;
}

.label-h3
{
    font-size: 60px;
    font-family: Helvetica;
    margin-top: 44px;
}

.label-h1
{
    font-size: 112px;
    font-family: Helvetica;
}

.p2
{
    /*background-image: url("./img/ap2.png");*/
    /*height: 733px;*/
}

.feedback
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
    padding-left: 10px;
    padding-right: 10px;
}

.feedback > .eich-two
{
    font-family: "Helvetica";
    margin-top: 90px;
    font-size: 48px;
}

.feedback > .feedback__comments {

    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 120px;
}
.feedback .pseudo-el.line{
  width: 45%;
  height: 12px;
  background-color:  #ffd528;
}
.item
{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 430px;
}

.item > img
{
    margin-bottom: 20px;
    margin-top: 23px;
    max-width: 157px;
}

.item > .comment_text
{
    font-family: HElvetica;
    width: 100%;
    font-size: 23px;
    text-align: center;
}

.item > .line
{
    height: 4px;
    width: 330px;
    background-color: #f4c825;
    margin-bottom: 51px;
}

/* Promo-timer zone */

.promo{
  padding-left: 55px;
  padding-right: 55px;
  margin-bottom: 110px;
}
.promo .h2,.h1{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
    font-family: HElvetica;
}
.promo .h2{
  font-size: 48px;
  font-weight: 700;
}
.promo .h1{
  font-size: 76px;
  font-weight: 700;
}
.promo_timer{
  margin-bottom: 60px;
  max-width: 100%;
}
.promo_button{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 556px;
  height: 103px;
  border: 10px solid #ffd528;
  border-radius: 8px;
  background: none;
  font-family: "Helvetica Neue Cyr";
  font-size: 60px;
  font-weight: 500;
  line-height: 70px;
  text-align: center;
  cursor: pointer;
}
/* FOOTER */

.footer{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #f7c82c;
  min-height: 370px;
  padding-left: 50px;
  padding-right: 10px;
  position: relative; /* in order to place creators' information & contacts */
}
.footer_social{
  width: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.social_header{
  color: #232323;
  max-width: 320px;
  text-align: center;
  font-family: "Helvetica Neue Cyr";
  font-size: 26px;
  font-weight: 500;
  margin-left: auto;
  margin-right: auto;
}
.social_list{
  display: flex;
  justify-content: space-between;
}
.social_list__item{
  width: 96px;
  height: 96px;
  transition-duration: 150ms;
}
.social_list__item:hover{
  transform: scale(0.95);
}
.social_list__item a{
  display: block;
  text-decoration: none;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.social_list__item.tw a{
  background-image: url(img/icons/twitter.png);
}
.social_list__item.fb a{
  background-image: url(img/icons/facebook.png);
}
.social_list__item.vk a{
  background-image: url(img/icons/vk.png);
}
.social_list__item.goog a{
  background-image: url(img/icons/google.png);
}
.copyright{
  max-width: 50%;
  color: #232323;
  font-family: "Helvetica Neue Cyr";
  font-size: 26px;
  font-weight: 500;
  text-align: right;
  /*padding-right: 10px;*/
}
.footer__contacts_tel, .footer__contacts_mail{
  display: block;
  position: relative;
}
.footer__contacts_tel::before, .footer__contacts_mail::before{
  display: block;
  position: absolute;
  top: 0;
  left: 30%;
  font-style: italic;
}

.footer__contacts_tel::before{
  content: 'Телефон:'
}
.footer__contacts_mail::before{
  content: 'E-mail:'
}
.footer__contacts_mail a:hover{
  color: #2c44f7!important;
}
.creators{
  opacity: 0.75;
  color: #232323;
  font-family: "Helvetica Neue Cyr";
  font-size: 24px;
  font-weight: 500;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
}

@media all and (max-width:1360px) {
  .carralax .headings{
    /*width: auto;
    max-width: 35%;*/
  }
  .iphone-mock{
    margin-right: 80px;
    width: 35%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    align-items: flex-end;
  }
  .iphone-mock form{
    max-width: 75%;
  }
  .iphone-mock form .label{
    font-size: 26px;
  }
  .iphone-mock form input{
    width: 100%!important;
    height: 55px !important;
  }
  .upper_form_submit{
    margin-top: 17px !important;
    margin-bottom: 5px !important;
  }
  .label-h1{
    font-size: 100px;
  }
  .productionneuh::before{
    left: 30px;
    border-width: 12px;
  }
  .productionneuh::after{
    right: 30px;
    border-width: 12px;
  }
  .productionneuh .product{
    max-width: 290px;
  }
  .productionneuh > .product > .title
  {
      font-size: 46px;
      text-align: center;
  }
  .item .line{
    width: 85%;
  }
}
@media all and (max-width:1173px) {
  .iphone-mock .form .label{
    font-size: 24px;
  }
  .upper_form_submit{

    margin-bottom: 25px !important;
  }
  .iphone-mock form input{

    height: 50px !important;
  }

}
@media all and (max-width:1044px) {
  .headings .h2{
    display: none;
  }
  .carralax{
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .iphone-mock{
    margin: 0 !important;
    width: 45%;
  }
  .iphone-mock .form{
    max-width: 70% ;
  }
  .carralax .headings{
    margin-top: 40px;
    width: 70%;

  }
  .carralax .headings .h1{
    font-size: 40px;

  }
}
@media all and (max-width:960px) {
  .productionneuh .product img{
    max-width: 100%;
  }
  .productionneuh .product{
    max-width: 220px;
  }
  .productionneuh > .product > .title
  {
      font-size: 40px;
      text-align: center;
  }
  .productionneuh::before{
    left: 15px;
    border-width: 14px;
  }
  .productionneuh::after{
    right: 15px;
    border-width: 14px;
  }
  .feedback__comments .item:nth-child(1), :nth-child(2){
    margin-right: 5px;
  }
}
@media all and (max-width:860px) {
  .iphone-mock form input{
    height: 45px !important;
  }
  .iphone-mock .form .label{
    font-size: 21px;
  }
  .upper_form_submit{
    font-size: 24px !important;
  }
  .upper-form_input{
    font-size: 24px !important;
  }
  .footer__contacts_tel::before, .footer__contacts_mail::before{
    left: 5%;
  }
}
@media all and (max-width:780px){

  .header__contacts{
    width: 55px;
    height: 55px;
  }
  .header__contacts_tel{
    width: 55px;
    height: 55px;
  }
    .header__contacts_tel{

    }

    .iphone-mock{
      width: 60%;
      min-width: 324px;
    }
    .carralax .headings .h1{
      font-size: 35px;
    }
    .label-h1{
      font-size: 80px;
      text-align: center;
    }
    .productionneuh{
      flex-direction: column;
      margin-bottom: 40px;
    }
    .productionneuh .product{
      margin-bottom: 50px;
      max-width: 270px;
    }
    .productionneuh .product img{
      margin-bottom: 23px;
    }
    .productionneuh > .product > .title
    {
        font-size: 36px;
        text-align: center;
    }
    .eich-two{
      font-size: 39px;
      text-align: center;
    }
    .feedback__comments{
      flex-direction: column;
      align-items: center;
    }
    .promo_button{
      width: auto;
      font-size: 35px;
    }
    .footer{
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      padding-top: 15px;
    }
    .social_header{
      font-size: 20px;
    }
    .social_list{
      margin-bottom: 95px;
    }
    .copyright{
      margin: 0;
      margin-bottom: 50px;
      font-size: 17px;
      text-align: center;
    }
    .creators{
      font-size: 12px;
    }
    .footer__contacts_tel::before, .footer__contacts_mail::before{
      left: -5%;
    }
  }
  @media all and (max-width:480px) {

    .header__contacts{
      top: 195px;
    }
    .label-h3{
      text-align: center;
    }
    .header__contacts_tel{
      font-size: 22px;
    }
    .carralax{
      padding: 0;
    }
    .iphone-mock{
      min-width: 300px !important;
    }
    .iphone-mock .form .label{
      font-size: 18px;
    }

    .carralax .headings{
      width: auto;
    }

    .promo .h2{
      font-size: 35px;
    }
    .promo .h1{
      font-size: 45px;
      margin-bottom: 15px;
    }
    .promo_button{
      font-size: 25px;
    }
    .footer{
      padding: 0;
    }
    .footer_social{
      width: 85%;
    }
    .social_list{
      margin-right: 0;
      margin-bottom: 80px;
    }
    .social_list__item{
      width: 50px;
      height: 50px;
    }
    .copyright{
      max-width: 80%;
    }
  }
